<div class="csv__table d-flex justify-content-center flex-column">
  <h2 class="text-center mb-4">2021-09-28 Worker and Temporary Worker (UK)</h2>
  <!-- <div class="form-group flex-column">
    <label for="file">
      Upload the Excel file
    </label>
    <span class="name">{{ name}}</span>
    <input style="display: none;" type="file" id="file" [(ngModel)]="file" name="file" class="w-100"
      (change)="onFileSelected($event)" accept=".csv,.xls,.xlsx" />
  </div> -->

  <nz-table #nzTable [nzData]="finalArray" nzTableLayout="fixed" nzShowSizeChanger class="table-data">
    <thead>
      <tr>
        <th nzCustomFilter>
          Organization Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Country</th>
        <th>Town / City</th>
        <th>Type & Rating</th>
        <th>Route</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.organization }}</td>
        <td>{{ data.country }}</td>
        <td>{{ data.town }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.route }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
