label {
  background-color: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.csv__table {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
