<a routerLink="/static">Go to static</a>

<div class="csv__table d-flex justify-content-center flex-column">
  <div class="form-group flex-column">
    <label for="file">
      Upload an Excel file
    </label>
    <span class="name">{{ name}}</span>
    <input style="display: none;" type="file" id="file" [(ngModel)]="file" name="file" class="w-100"
      (change)="onFileSelected($event)" accept=".csv,.xls,.xlsx" />
  </div>


  <div *ngIf="showTable">
    <tabset>
      <tab [heading]="sheetName" *ngFor="let sheetName of sheetNames">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"
                  *ngFor="let header of generateHeaders(covertSheetToJSON(workbook.Sheets[sheetName])[0])">{{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of covertSheetToJSON(workbook.Sheets[sheetName])">
                <td *ngFor="let header of generateHeaders(covertSheetToJSON(workbook.Sheets[sheetName])[0])">{{
                  record[header] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
</div>
